@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

 * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* First section nav to text and images  */

.first-sec {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 40%, rgba(47,44,44,1) 50%, rgba(36,36,36,1) 60%, rgba(0,0,0,1) 100%);
    
}


/* nav area */

.banner-area {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-area {
    max-width: 1060px;
    margin: 0 auto;
}

.nav-menu .logo {
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    cursor: pointer;
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
}

.nav-menu ul {
    display: flex;
    gap: 47px;
    align-items: center;
    padding-top:0 ;
    padding-right: 20px;
    padding-left: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-menu ul li {
    display: flex;
}

.nav-menu ul li:first-child{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.half-1 h1 {
    font-family: "Inter", sans-serif;
    font-size: 78px;
    font-weight: 900;
    line-height: 90px;
    margin-bottom: 28px;
    color: white;

}

.half-1 h1 span {
    font-family: 'Miama', sans-serif;
    font-size: 160px;
    font-weight: 400;
    background-color: transparent;
}

/* heading button area */

.button-area {
    display: flex;
    gap: 14px;
    margin-bottom: 76px;
}

.btn {
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    color: white;
    border: rgb(230, 83, 60);
    cursor: pointer;
}

.download-btn {
    background-color: black;
    border: 1px solid white;
}

.text-area {
    max-width: 520px;
    margin-top: 96px;
}
.heading-paragrah {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.5);
}

/* banner img  */

.img-site .banner-person {
    margin-top: 40px;
}

.rectangel-1  {
position: absolute;
max-width: 193px;
max-height: 98px;
left: 70%;
top: 260px;
padding: 17px 23px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.1);
}

.rectangel-1 h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.rectangel-1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 300;
}

.rectangel-2 {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 206px;
    height: 116px;
    top: 570px;
    left: 53%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 23px;
}

.svg-tri {
    top: 300px;
    position: relative;
    right: 20%;
}

.rectangel-2 h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}
.rectangel-2 p {
     color: rgba(255, 255, 255, 0.65);
     font-size: 16px;
     font-weight: 300;
     margin-top: 8px;
}

/* here media queries start for tablet device */

@media (max-width: 744px) {

    .banner-area {
        display: flex;
        flex-direction: row;
    }

    .nav-menu {
        margin: 0 15px 0 0;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-menu .logo{
        margin-bottom: 20px;
    }
    
    .text-site {
        margin: 0 20px;
    }
    
    .half-1 h1 {
        font-family: "Inter", sans-serif;
        font-size:  80px;
        font-weight: 900;
        line-height: 80px;
        margin-bottom: 28px;
        color: white;
    
    }
    
    .half-1 h1 span {
        font-family: 'Miama', sans-serif;
        font-size: 73.84px;
        font-weight: 400;
        background-color: transparent;
    }
    
    .half-1 p {
        font-size: 16px;
    }
    
    /* image section */
    
    .rectangel-1 {
        top: 33%;
        left: 74%;
        z-index: 1;
    }
    
    .rectangel-2 {
        top: 74%;
        left: 55%;
        width: 185px;
        height: 97px;
    }

    .rectangel-2 p {
        font-size: 12px;
    }
    
    .svg-tri {
        top: 60%;
        position: absolute;
        left: 57%;
    }
    
    .img-site .banner-person {
        position: relative;
        left:  10%;
        margin-right: 70px;
    }

}


@media (max-width: 883px) {


.banner-area {
    display: flex;
    flex-direction: column;
}

.nav-menu {
    margin: 0 72px;
}

.text-site {
    margin: 0 72px;
}

.rectangel-1 {
    top: 103%;
    left: 64%;
    z-index: 1;
}

.rectangel-2 {
    top: 139%;
    left: 14%;
}

.svg-tri {
    top: 131%;
    position: absolute;
    left: 30%;
}

.img-site .banner-person {
    position: relative;
    left: 35%;
}

}

 @media (max-width: 576px) {
    
.banner-area {
    width: 393px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.nav-menu {
    margin: 0 15px 0 0;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu .logo{
    margin-bottom: 20px;
}

.nav-menu ul {
    display: flex;
    gap: 47px;
    align-items: center;
    padding-top:0 ;
    padding-right: 20px;
    padding-left: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: white;
}

/* text area */

.text-area {
    width: 482px;
    height: 335px;
}

.text-site {
    margin: 0 0 0px 40px;
}

.half-1 h1 {
    font-family: "Inter", sans-serif;
    font-size: 62px;
    font-weight: 900;
    line-height: 64px;
    margin-bottom: 18px;
    color: white;

}

.half-1 h1 span {
    font-family: 'Miama', sans-serif;
    font-size: 93.84px;
    font-weight: 300;
    background-color: transparent;
}

.half-1 p {
    font-size: 10px;
}

/* buttor area */

.btn {
    width: 180px;
    height: 44px;
    padding: 10px 10px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 15px;
    color: white;
    border: rgb(230, 83, 60);
    cursor: pointer;
}

.download-btn {
    background-color: black;
    border: 1px solid white;
}

.button-area {
    margin-bottom: 20px;
}

/* image section */

.rectangel-1  {
    position: absolute;
    max-width: 184.05px;
    max-height: 83.3px;
    top: 95%;
    left: 56%;
    padding: 14px 33px 14px 23px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    }

    .rectangel-1 h2 {
        color: #fff;
        font-size: 30px;
        font-weight: 900;
    }
    
    .rectangel-1 p {
        color: rgba(255, 255, 255, 0.65);
        font-size: 9px;
        font-weight: 300;
    }


    .rectangel-2 {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 8px;
        top: 130%;
        left: 18%;
        max-width: 164.05px;
        max-height: 83.3px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(5px);
        background: rgba(48, 48, 48, 0.54);
        padding: 10px 14px;
    }
    
    .rectangel-2 h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 800;
    }
    .rectangel-2 p {
         color: rgba(255, 255, 255, 0.65);
         font-size: 8px;
         font-weight: 300;
         margin-top: 8px;
    }

.svg-tri {
    position: absolute;
    top: 122%;
    left: 27%;
}

.img-site .banner-person {
    padding-top: 75px;
    height: 475.2px;
    width: 285.648px;
    position: relative;
    left: 42%;
}
 }

 /* mobile large device */

 @media (max-width: 425px) {

    .text-site {
        margin: 0 0 0px 15px;
    }

    .text-area .heading-paragrah {
        width: 80%;
    }

    .img-site .banner-person {
        left: 23%;
    }

    .rectangel-1 {
        left: 58%;
    }

    .rectangel-2 {
        top: 120%;
        left: 12%;
    }
    .svg-tri {
        position: absolute;
        top: 124%;
        left: 18.7%;
        z-index: 1;
    }

 }

 /* mobile large responsive end here */

@media (max-width: 393px) {

    .nav-menu ul {
        padding-right: 10px;
        margin-left: 14px;
        
    }

    .text-area {
        margin-top: 50px;
        width: 352px;
        height: 290px;
        }
    .text-site {
            margin: 0 0 0px 20px;
        }

        .half-1 h1 {
        font-size: 36px;
        line-height: 42px;

        }
        
        .half-1 h1 span {
            font-size: 74px;
        }

    .img-site .banner-person {
        left: 5%;        
    }
    .rectangel-1 {
        top: 70%;
        left: 58%;
    }

    .rectangel-2 {
        top: 93%;
        left: 8%;
    }

}

/* Start a new habit section */

.sec1 {
    background: rgb(0, 0, 0);
}

.habit {
    max-width: 1044px;
    margin: 0 auto;
    padding-top: 100px;
}

.habit .text-data1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit .text-data1 h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    
}

.habit .text-data1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.habit .images {
    display: flex;
    padding-top: 58px;
}

.img-collage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-round img {
    border-radius: 50%;
}

.heading-par {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-par h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding-top: 30px;
}

.heading-par p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    justify-content: center;
    text-align: center;
    padding-top: 14px;
}

/* Break point 576px */

@media (max-width: 576px) {
    .habit .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .text-data1 {
        max-width: 476px;
        width: 100%;
        margin: 0 auto;
    }

    .heading-par h2 {
        font-size: 48px;
    }
    .heading-par p {
        font-size: 14px;
    }
}

/* run an extra mile section */

.third-sec {
    margin-top: 100px;
}

.run-extra {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 54px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}


    .run-img {
        width: 40%;
    }

    .run-img img {
    width: 100%;
    height: 312px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    border-radius: 18px;
}

.text-button {
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-button h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

.text-button p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 34px;
}

/* extra mile section responsive start from here */

@media (max-width: 576px) {

    .run-extra {
            max-width: 475px;
            margin: 0 auto;
            padding-right: 30px;
            padding-left: 30px;
    }

    .run-img {
        width: 48%;
    }

    .run-img img {
    width: 100%;
    height: 292px;
    margin-top: 40px;
    border-radius: 20px;
    border: none;
    border-radius: 18px;
    object-fit: cover;
}

    .text-button {
        max-width: 223px;
        padding-right: 20px;
    }

    .text-button h2 {
        font-size: 30px;
    }

    .text-button p {
        font-size: 12px;
    }
}

/* Fourth section start from here */

    .fourth-section {
        margin-bottom: 88px;
    }

    .fourth-section .bmi-text {
        max-width: 671px;
        margin: 0 auto;
        padding-top: 88px;
    }

    .fourth-section h2 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }

    .fourth-section p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
    }

    /* BMI start from here */

    .fifth-section {
        width: 100%;
        max-height: 487px;
        background: rgb(34, 34, 34);
        padding-top: 52px;
    }

    .fifth-section .bmi-main {
        max-width: 1060px;
        margin: 0 auto;
    }

    .bmi-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bmi-chart h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 52px;
    }

    .bmi-chart .bmi-table {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    .bmi-table {
        border-collapse: collapse;
    }

    .bmi-table th {
        font-size: medium;
        font-weight: 600;
        color: #fff;
    }

    .bmi-table table, th, td{
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px 18px;
    }

    .bmi-second h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 8px;
    }

    .bmi-second p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        padding-bottom: 34px;
    }

    .input-sec {
        display: grid;
        grid-template-columns: 2;
        gap: 12px;
        padding-bottom: 34px;
    }

    .input-sec .inp {
        width: 263px;
        padding: 12px 20px;
        border: none;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);

    }

    .input-sec input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .select {
        width: 304px;
        border-radius: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
        padding: 12px 20px;
    }

    .select2 {
        width: 618px;
        border-radius: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
        padding: 12px 20px;
        grid-column: span 2;
    }
    

    .butto {
        padding: 13px 40px 13px 40px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        font-size: 16px;
        color: white;
        cursor: pointer;
        border: none;
    }



    /* 5th section responsive process start from here */

    @media (max-width: 576px) {

        .bmi-text {
            margin-top: 10px;
            padding-left: 29px;
        }

        .bmi-text h2 {
            font-size: 48px;
            padding-bottom: 15px;
        }

        .bmi-text p {
            font-size: 13px;
        }

        .fifth-section {
            max-width: 576px;
            max-height: 810px;
            background: rgb(34, 34, 34);
            padding-top: 34px;
        }
        
        .bmi-main {
            display: grid;
            grid-template-columns: 1fr;
            gap: 60px;
            padding-left: 14px;
        }

        .input-sec {
            grid-row-gap: 10px;
            grid-column-gap: 1px;
        }

        .input-sec .inp {
            width: 230px;
        }

        .select {
            width: 270px;
        }

        .select2 {
            width: 552px;
        }
    }

    /* sixth section start from here */

    .sixth-section {
        max-width: 1060px;
        margin: 0 auto;
        padding-bottom: 88px;
    }

    .meet-text {
        margin-top: 88px;
        padding-bottom: 58px;
        }

    .meet-text h2 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        text-align: center;
        padding-bottom: 10px;
    }

    .meet-text p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
    }

    /* Trainer img collage area */

    .image-collage {
        position: relative;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
        column-gap: 15px;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 18px;
    }

    .img-with-text {
        position: relative;
        display: inline-block;
    }

    .img-with-text .img-inside img {
        width: 326.67px; 
        height: 272px;
        border-radius: 18px;
        object-fit: cover;
    }

    .inside-text {
        position: absolute;
        top: 80%;
        left: 5%;
    }
    .img-with-text .inside-text h4{
        color: white;
    }
    .img-with-text .inside-text p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        padding-top: 10px;
    }

    /* section six responsive start frome here */

    @media (max-width: 576px) {
        .sixth-section {
            max-width: 576px;
            margin: 0 auto;
        }
        .image-collage {
            grid-template-columns: repeat(3, 1fr);
        }

        .img-with-text .img-inside img {
            width: 169.15px;
            height: 231.2px;
            border-radius: 18px;
            object-fit: cover;
        }

        .img-with-text .inside-text p {
            padding-top: 0;
        }
    }


    /* 6th section end here */

    /* footer section start from here */

    footer {
        background: rgb(27, 27, 27);
    }

    .last-section {
        max-width: 1059px;
        margin: 0 auto;
        padding-top: 66px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .last-section .logo {
        font-size: 56px;
        font-weight: 900;
        font-style: italic;
        color: rgba(230, 83, 60, 1);
        cursor: pointer;
        
    }

    .logo-text {
        max-width: 443px;
    }

    .last-text {
        display: flex;
        gap: 142px;
    }

    .last-section .logo-text p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        padding-top: 20px;
    }

    .get-started h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 27px;
    }

    .get-started ul {
        list-style: none;
    }

    .get-started ul li {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 23px;
        font-weight: 300;
        line-height: 35px;
        letter-spacing: 0%;
        text-align: left;
        cursor: pointer;
    }

    .last-texto {
        max-width: 1059px;
        margin: 0 auto;
        padding-bottom: 38px;
    }

    .text-last hr {
        margin-top: 79px;
        border: none; /* Remove the default border */
        height: 1px; /* Set the height to make it visible */
        background-color: gray; /* Set the color of the <hr> */
    }

    .last-texto p {
        color: gray;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
        padding-top: 36px;
    }

    /* footer section responsive start from here */

    @media (max-width: 576px) {



        .last-section {
            grid-template-columns: 1fr;
            max-width: 576px;
            margin-left:  30px;
            padding-bottom: 71px;
        }

        .logo-text {
            margin-bottom: 102px;
        }

        .last-text {
            display: flex;
            gap: 142px;
        }

        .text-last hr {
            width: 80%;
            margin: 0 auto;
           }
    }


    /* responsive end here */

    .blog-section {
        max-width: 1059px;
        margin: 0 auto;
        padding-top: 88px;
    }

    .post-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-text {
        padding-bottom: 20px;
    }

    .blog-section .blog-text h2 {
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        padding-bottom: 10px;
    }

    .blog-section .blog-text p {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
    }

    .post-gallery .blog-card .text{
        max-width: 326px;

    }

    .post-gallery .blog-card img {
        margin-top: 20px;
        width: 326.67px; 
        height: 272px;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid #fff;
    }

    .text  h4{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    }

    .text p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
    }

    .text .read-more {
        margin-top: 10px;
        padding: 4px 8px;
        font-size: 10px;
        cursor: pointer;
    }

    @media (max-width: 576px) {
        .post-gallery {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .blog-section .blog-text h2 {
            color: #fff;
            font-size: 36px;
            font-weight: 900;
            text-align: center;
        }

        .blog-section .blog-text p {
            text-align: center;
            padding-top: 15px;
        }

        .post-gallery {
            max-width: 576px;
            margin-left: 10%;
            padding-top: 68px;
        }

        .blog-card {
            padding-bottom: 15px;
        }

        .post-gallery .blog-card img {
            margin-top: 20px;
            width: 457.34px; /* Increased by 40% */
            height: 380.8px; /* Increased by 40% */
            object-fit: cover;
            border-radius: 8px;
            border: 1px solid #fff;
        }
    }